<div class="row">
  <div class="col-10">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Stocks Tracking</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <th scope="row"><%= friend.full_name %></th>
            <td><%= friend.email %></th>
            <td>Tracking <%= pluralize(friend.stocks.count, 'stock') %></td>
            <td><%= link_to 'View Profile', user_path(friend), class: 'btn btn-sm btn-outline-primary' %>
            <%= link_to 'Unfollow', friendship_path(friend), 
                      method: :delete, data: {confirm: 'Are you sure?'}, 
                      class: 'btn btn-sm btn-outline-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>